@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(45deg, black 10%, #7700FF, #D700FF, black);
    background-attachment: fixed;
}

.fundo{
    height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.384);
    width: 300px;
    height: 440px;
    border-radius: 20px;
    border: 2px solid #00ff00;

}

.resultado{
    margin: 5px;
    width: 290px;
    height: 60px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    border-radius: 10px;
    border: 2px solid lightgreen;
    font-size: 30px;
    line-height: 60px;
    overflow: hidden;
}

.botao{
    width: 72px;
    height: 72px;
    margin-right: 0;
    font-size: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
    border-radius: 10px;
}

.botao:hover{
    background-color: black;
}

.botao:active{
    transform: scale(0.9);
}

footer{
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    border-top: 2px solid rgb(162, 0, 255);
}

footer a{
    color: white;
}